[Desktop Entry]
Type=Application
Name=Riptide
GenericName=Web Browser
Comment=Surf the web really fast: a keyboard-driven browser with vim-like bindings
Exec=riptide %U
Icon=riptide
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=riptide
